<template>
  <g>
    <g>
      <path
        d="M12,24c-3.1,0-6.1-1.2-8.5-3.5c-4.7-4.7-4.7-12.3,0-17c4.7-4.7,12.3-4.7,17,0s4.7,12.3,0,17C18.1,22.8,15.1,24,12,24z
        M12,1C9.2,1,6.4,2.1,4.2,4.2c-4.3,4.3-4.3,11.3,0,15.6c4.3,4.3,11.3,4.3,15.6,0c4.3-4.3,4.3-11.3,0-15.6C17.6,2.1,14.8,1,12,1z"
      />
    </g>
    <g>
      <path
        d="M11,20.5c-1,0-2-2.5-2-3c0-0.4,0.2-0.7,0.3-1c0.1-0.2,0.2-0.4,0.2-0.5c0-0.2-0.4-0.7-0.9-1.1c-0.1-0.1-0.1-0.2-0.1-0.4
        c0-0.4-0.1-0.7-0.2-0.9c-0.3-0.2-0.8-0.2-1.5-0.2c-0.3,0-0.5,0-0.8,0c-1.6,0-2-1.6-2-2.5c0-0.2,0-3.9,2.9-4.5
        c1.3-0.3,2.2-0.2,2.7,0.2C9.8,6.9,9.9,7.1,10,7.2c0.5,0.4,1.5,0.2,2.3,0c0.3-0.1,0.5-0.1,0.8-0.2c0.1-0.8,0.1-1.7,0-2
        c-0.6,0.3-1.2,0.3-1.7,0c-0.5-0.3-0.8-0.8-0.9-1.5c-0.2-1.9,3.9-2.9,4.8-3c0.3-0.1,0.5,0.1,0.6,0.4c0.1,0.3-0.1,0.5-0.4,0.6
        c-1.9,0.4-4,1.3-4,2c0,0.2,0.1,0.5,0.4,0.7c0.2,0.1,0.6,0.1,0.9-0.1c0.3-0.1,0.6-0.1,0.8,0c0.7,0.5,0.6,2.1,0.4,3.5
        C14,7.8,13.7,8,13.5,8c-0.2,0-0.6,0.1-1,0.2C11.4,8.4,10,8.7,9.1,7.9C9.1,7.8,9,7.6,9,7.5c0,0-0.5-0.3-1.9,0C5,7.9,5,11,5,11
        c0,0.1,0,1.5,1,1.5c0.2,0,0.5,0,0.7,0c0.8,0,1.7-0.1,2.2,0.4c0.3,0.3,0.5,0.8,0.5,1.4c0.4,0.4,1,1.1,1,1.7c0,0.4-0.2,0.7-0.3,1
        c-0.1,0.2-0.2,0.4-0.2,0.5c0,0.4,0.7,1.8,1.1,2c1.6,0,2.4-0.7,2.4-2c0-0.2,0.1-0.4,0.3-0.5c0,0,0.7-0.2,1.3-0.9
        c0.1-0.1,0.1-0.1,0.1-0.1c0,0-0.1-0.1-0.2-0.2c-0.2-0.2-0.5-0.5-0.5-0.9c0-0.4,0.3-0.6,0.8-1.2c0.7-0.8,1.5-1.6,1.4-2.2
        c-0.5,0.1-1.1,0.2-1.6-0.3c-0.1-0.1-0.1-0.1-0.1-0.2c-0.2-0.7-0.5-1.4-0.6-1.6c-0.2,0-0.3-0.2-0.4-0.3c0-0.1-0.1-0.4,0.1-0.6
        c0.4-0.4,2.1-1.4,3.8-1.1C19.6,6.5,20,4.2,20,4.2c0-0.3,0.3-0.5,0.6-0.4c0.3,0,0.5,0.3,0.4,0.6c0,0.1-0.6,3-2.8,4.1
        c-0.1,0.1-0.2,0.1-0.3,0c-1.1-0.3-2.1,0.1-2.7,0.4c0.2,0.3,0.5,0.8,0.7,1.8c0.2,0.1,0.6,0,0.8-0.1c0.2-0.1,0.4-0.1,0.6,0.1
        c1.2,1.2-0.4,2.8-1.3,3.8c-0.2,0.2-0.4,0.4-0.5,0.5c0,0,0.1,0.1,0.1,0.1c0.2,0.2,0.5,0.5,0.6,0.9c0,0.3-0.1,0.6-0.4,0.8
        c-0.5,0.5-1,0.8-1.4,1C14.3,19.5,13.1,20.5,11,20.5z"
      />
    </g>
  </g>
</template>

<script>
/**
 * Icons are used to visually communicate core parts of the product and
 * available actions. Please be aware that all elements must have closing tags (not "self-closing").
 * To add additional icons, please consult [the instructions](/#/Adding%20Icons).
 */
export default {
  name: "IndraIconGlobe",
  status: "ready",
  release: "1.0.0",
  type: "Element",
}
</script>

<docs>
  ```jsx
  <div>
    <!-- you can pass in a smaller `width` and `height` as props -->
    <indra-icon-base width="12" height="12" icon-name="globe">
      <indra-icon-globe></indra-icon-globe>
    </indra-icon-base>

    <!-- or you can use the default, which is 18 -->
    <indra-icon-base icon-name="globe">
      <indra-icon-globe></indra-icon-globe>
    </indra-icon-base>

    <!-- or make it a little bigger too, with colors :) -->
    <indra-icon-base width="30" height="30" icon-name="globe" icon-color="red">
      <indra-icon-globe></indra-icon-globe>
    </indra-icon-base>
  </div>
  ```
</docs>
