<template>
  <component :is="type" class="indra-card-media">
    <slot></slot>
  </component>
</template>

<script>
/**
 * Used to establish a section of a card for rich media content and icons.
 */
export default {
  name: "CardMedia",
  status: "ready",
  release: "1.0.0",
  type: "Element",
  props: {
    /**
     * The html element name used for the wrapper.
     */
    type: {
      type: String,
      default: "div",
    },
  },
}
</script>

<style lang="scss" scoped>
.indra-card-media .indra-icon {
  padding: $space-small;

  @media #{$media-query-large} {
    padding: $space-base;
  }
}
</style>

<docs>
  ```jsx
  <div>
    <card-media>
      <indra-icon-base width="50" height="50">
        <indra-icon-globe></indra-icon-globe>
      </indra-icon-base>
    </card-media>
  </div>
  ```
</docs>
